.homeContainer {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  
  &_title {
    margin-top: 4rem;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 10vh;
    justify-content: center;
    width: 90vw;
  }
  &_filter {
    align-items: flex-start;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    width: 90vw;
  }
  
  &_filterSelect {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 3rem;
  font-size: 1rem;
  gap: 1rem;
  justify-content: flex-start;
  width: 90vw;
  }
  
  &_movies {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    width: 90vw;
    margin-bottom: 4rem;

    &--title {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      margin: 0;
      padding-bottom: 2rem;
    }

    &--container {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: flex-start;
      width: 90vw;
      padding-left: 5rem;
    }

    &--noMovies {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      font-size: 2rem;
      justify-content: center;
      width: 90vw;
      height: 35vh;
      margin-bottom: 4rem;
    }
  }
  &_footer {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    justify-content: center;
    width: 90vw;
    height: 10vh;
  }
  &_button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #35037f;
    cursor: pointer;
    color: #ffffff;
    &:hover {
      motion: hover;
      transition: all 0.5s ease-in-out;
      background-color: #4c00ff;
      color: #ffffff;
    }
  }
}