.homeContainer {
  background-color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  color: white;
  
  &_title {
    margin-top: 4rem;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 10vh;
    justify-content: center;
    width: 90vw;
  }
  &_filter {
    align-items: flex-start;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    width: 90vw;
  }
  
  &_filterSelect {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 3rem;
  font-size: 1rem;
  gap: 1rem;
  justify-content: flex-start;
  width: 90vw;
  }
  
  &_movies {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 90vh;
    justify-content: center;
    width: 90vw;
  }
  &_footer {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    height: 8vh;
    justify-content: center;
    width: 90vw;
  }
  &_button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #35037f;
    cursor: pointer;
    color: #ffffff;
    &:hover {
      motion: hover;
      transition: all 0.5s ease-in-out;
      background-color: #4c00ff;
      color: #ffffff;
    }
  }
}